---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import BlueBox from '../components/BlueBox.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="About Us">
  <Navigation transparent={true} />
  
  <main class="main-content">
    <HeroSection 
      text="Azure Ventures was founded by Gabbi Richardson and Greg Chiappini — entrepreneurs and investors with deep roots in the maritime sector." backgroundImage="/src/assets/images/hero/blue_economy_investments.jpg"
    />
 <BlueBox heading="Azure Ventures is a pre-seed and seed-stage venture capital firm backing founders at the very beginning of their journey.">
      <p>We invest in people before products — in long-term relationships built on belief, conviction, and trust.</p>
      
      <p>Our sole focus is the maritime sector. This is our domain — where we bring deep industry knowledge, founder experience, and a global network of experts and operators.</p>
      
      <p>We partner with startups set to transform the maritime world — businesses with the potential to shape the future of oceans, trade, climate, and global connectivity.....</p>
    </BlueBox>
  </main>

  <Footer />
</Layout>