---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import HeroSection from '../components/HeroSection.astro';
import BlueBox from '../components/BlueBox.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Home">
  <Navigation transparent={true} />
  
  <main class="main-content">
    <HeroSection 
      text="While most keep their feet on the ground and some look to the skies, we fix our gaze on the sea and how humanity interacts with it." backgroundImage="/images/hero/maritime_innovation_fund.jpg" maxWidth="80%"
    />

    <BlueBox heading="Azure Ventures is a dedicated maritime venture capital firm, backing founders at the very beginning of their journey.">
      <p>As a pre-seed and seed-stage ocean tech VC fund, we provide maritime startup funding that transforms ambitious ideas into global solutions.</p>
      <p>We invest in people before products, building long-term relationships based on belief, conviction, and trust.</p>
      
      <p>Our sole focus is the maritime sector. This is our domain, where we bring deep industry knowledge, founder experience, and a global network of experts and operators.</p>
      
      <p>We back maritime technology startups driving early-stage maritime innovation, from port & shipping technology and the decarbonisation of propulsion systems to autonomous defence vessels and wastewater treatment. Together, we support businesses with the potential to shape the future of oceans, trade, climate, and global connectivity</p>
    </BlueBox>
  </main>

  <Footer />
</Layout> 